.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 2px solid lightgray;
  margin-right: 5px;
  margin-left: 100px;
}

.search-container {
  background-color: rgb(172, 170, 170);
  text-align: center;
  line-height: 30px;
}
.search-container input {
  width: 75%;
  height: 30px;
}
